<div class="footer">
	<div class="w">
		<div class="links">
			<a href="http://wwww.imooc.com" class="link" target="_blank">慕课网</a> |
			<a href="http://wwww.baidu.com" class="link" target="_blank">百度</a> |
			<a href="http://wwww.taobao.com" class="link" target="_blank">淘宝</a> |
			<a href="http://wwww.zhihu.com" class="link" target="_blank">知乎</a>
		</div>
		<p class="copyright">
			Copyright © 2017 happymmall.com  All Rights Reserved
		</p>
	</div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>